$orange: #FA7F07;

@font-face {
    font-family: 'Titillium';
    src: url('../fonts/TitilliumText22L004-webfont.eot');
    src: url('../fonts/TitilliumText22L004-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/TitilliumText22L004-webfont.woff') format('woff'),
         url('../fonts/TitilliumText22L004-webfont.ttf') format('truetype'),
         url('../fonts/TitilliumText22L004-webfont.svg#TitilliumText22LMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
 * ClearSS
 * 
 * Author: Andrei Eftimie
 * Contact: andrei@eftimie.com
 * 
 * Creative Commons License http://creativecommons.org/licenses/by/3.0/
 * 
 */
 
/*
 * HTML5 ✰ Boilerplate
 * Reset & Other bits
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup,  menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
nav ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #999; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

/*
 * Margins
 */
p,
ul,
ol, 
dl, 
table, 
address, 
pre, 
fieldset, 
blockquote { 
  margin: 0 0 1.25em 0;
}

hr {
  margin: 1.25em 0 2.375em 0;
  height: .125em;
}

/*
 * Images
 */
img {
  vertical-align: middle;
}

.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/*
 * Hyperlinks
 */
a,
a:active, 
a:visited {
  color: $orange;
  text-decoration: underline; 
  overflow: hidden;
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
}
a:link {
  -webkit-tap-highlight-color: #FF5E99;
} 

/* 
 * Text Selection
 */
::-moz-selection {
  background: $orange;
  color:#fff;
  text-shadow: none;
}

::selection {
  background: $orange;
  color: #fff;
  text-shadow: none;
} 

/*
 * Gradient
 */ 
.gray_gradient {
  background: #F3F3F3; /* Old browsers */
  background: -moz-linear-gradient(top, #cccccc 0%, #eaeaea 5%, #f3f3f3 32%, #f3f3f3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(5%,#eaeaea), color-stop(32%,#f3f3f3), color-stop(100%,#f3f3f3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cccccc 0%,#eaeaea 5%,#f3f3f3 32%,#f3f3f3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cccccc 0%,#eaeaea 5%,#f3f3f3 32%,#f3f3f3 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #cccccc 0%,#eaeaea 5%,#f3f3f3 32%,#f3f3f3 100%); /* IE10+ */
  background: linear-gradient(top, #cccccc 0%,#eaeaea 5%,#f3f3f3 32%,#f3f3f3 100%); /* W3C */
}

/*
 * General Document Settings
 */
html {
  overflow-y: scroll;
}

body {
  font: .875em/1.8em sans-serif;
  color: #333333;
}

.small_text {
  font-size: .8571em;
}

/*
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1em;
  margin: 1em 0;
  font-family: Titillium, sans-serif;
  font-weight: normal;
  color: $orange;
}

h1 {
  font-size: 2.142em;
  line-height: 1.25em; 
  margin: 0 0 .625em 0;
  color: #999999;
}

h2 {
  font-size: 1.1428em;
  line-height: 1.4285em; 
  margin: .7142em 0;
}

/*
 * Lists
 */
ul {
  margin-left: 2.2em;
  > li {
    list-style-image: url(../images/bullet.png);
  }
}
ol {  
  > li {
    margin-left: 2.2em;
    list-style-type: decimal;
    &::marker {
      color: $orange;
    }
    ol > li {
      list-style-type: lower-alpha;
      ol > li {
        list-style-type: upper-roman;
      }
    }
  }
}

li ul,
li ol {
  margin-top: 0;
  margin-bottom: 0; 
}

/*
 * Definition List
 */
dt {
  font-weight: bold;
}
dd {
  margin-bottom: 1.25em;
}

/*
 * Table
 */
table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1.2em;
  border: 1px solid #fff;
  .color_button {
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
  }
}
th,
td {
  border: 1px solid #E5E5E5;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  padding: 10px;
  &.yes {
    background: #FFF0D9;
    font-weight: bold;
  }
  &.no {
    color: #999999;
    font-weight: bold;
  }
  &:first-child {
    border-left: 0;
  }
  &:last-child {
    border-right: 0;
  }
}
th {
  text-align: left;
  min-width: 30%;
}
thead {
  th,
  td {
    vertical-align: top;
    text-align: left;
    padding: 10px 20px;
    font-size: .8571em;
    color: #666666;
    border-top: 0;    
    background: #f5f5f5; /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #ffffff 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f5f5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5f5f5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5f5f5 0%,#ffffff 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #f5f5f5 0%,#ffffff 100%); /* IE10+ */
    background: linear-gradient(top, #f5f5f5 0%,#ffffff 100%); /* W3C */
    &.empty {
      background: none;
    }    
  }
  h2 {
    color: #000;
    font-size: 1.8333em;
    margin: 0;
  }
  p {
    margin: 0;
  }
}

.special,
thead {
  th,
  td {
    border-bottom: 1px solid #FF6600;
  }
}


/*
 * Quotes
 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

blockquote { 
  font-size: 1.1428em;
  line-height: 1.5em;
  font-style: italic;
}

/*
 * Code
 */
pre,
code,
kbd,
samp {
  font-family: monospace, sans-serif;
}
pre {
  @extend .gray_gradient;
  border: 1px solid #999;
  font-size: 1em;
  padding: 15px;
  margin-right: 5px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
  -webkit-box-shadow: 2px 2px 2px 0px #d4d4d4;
  -moz-box-shadow: 2px 2px 2px 0px #d4d4d4;
  box-shadow: 2px 2px 2px 0px #d4d4d4; 
}
code {
  font-size: 1em;
  line-height: 1.25em;
}

/*
 * Forms
 */
input, 
select, 
textarea, 
button { 
  font-size: 1em;
  font-family: inherit;
  margin: 0;
}

input[type=text],
input[type=password],
textarea {
  padding: 4px;
}

textarea {
  overflow: auto;
}

button,
input[type=submit],
input[type=reset] {
  @extend .button;
  width: auto;
  overflow: visible;
}

input:invalid,
textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

legend {
  background: #fff;
  padding: 2px 6px;
  border: 1px solid #999;
  left: 20px;
}

.ie6 legend,
.ie7 legend {
  margin-left: -7px;
} 

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

input[type=button],
input[type=submit],
button {
  @extend .color_button;
  cursor: pointer;
  border: 0;
  padding: 4px 12px !important;
}

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

fieldset {
  @extend .gray_gradient;
  border: 1px solid #999;
  -webkit-box-shadow: 2px 2px 2px 0px #d4d4d4;
  -moz-box-shadow: 2px 2px 2px 0px #d4d4d4;
  box-shadow: 2px 2px 2px 0px #d4d4d4;
  padding: 10px 30px;
}


form {
  ol {
    margin: 0;    
    li {
      list-style: none;
      margin-left: 0;
      margin-bottom: 1.25em;
      label {
        display: block;
      }
    }  
  }
}

/*
 * Helper Classes
 */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/*
 * Button
 */
.color_button {
  -webkit-border-radius: .3em;
  -moz-border-radius: .3em;
  border-radius: .3em; 

  webkit-box-shadow: inset #E54100 0px 0px 1em;
  -moz-box-shadow: inset #E54100 0px 0px 1em;
  box-shadow: inset #E54100 0px 0px 1em;             
  
  border: 1px solid darken($orange, 15);
  
  background: #ff9e59; /* Old browsers */
  background: -moz-linear-gradient(top, #ff9e59 0%, #ffb87f 48%, #ff8935 60%, #ff8935 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9e59), color-stop(48%,#ffb87f), color-stop(60%,#ff8935), color-stop(100%,#ff8935)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ff9e59 0%,#ffb87f 48%,#ff8935 60%,#ff8935 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ff9e59 0%,#ffb87f 48%,#ff8935 60%,#ff8935 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, #ff9e59 0%,#ffb87f 48%,#ff8935 60%,#ff8935 100%); /* IE10+ */
  background: linear-gradient(top, #ff9e59 0%,#ffb87f 48%,#ff8935 60%,#ff8935 100%); /* W3C */
  
  padding: 0 12px;
  line-height: 1.71em;
  
  color: #fff;
  text-shadow: 1px 1px 1px darken($orange, 20);
  font-family: Titillium, sans-serif;
  
  &:hover,
  &:focus {
    background: #ff8c39; /* Old browsers */
    background: -moz-linear-gradient(top, #ff8c39 0%, #ffad69 48%, #ff7811 60%, #ff710b 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff8c39), color-stop(48%,#ffad69), color-stop(60%,#ff7811), color-stop(100%,#ff710b)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff8c39 0%,#ffad69 48%,#ff7811 60%,#ff710b 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff8c39 0%,#ffad69 48%,#ff7811 60%,#ff710b 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ff8c39 0%,#ffad69 48%,#ff7811 60%,#ff710b 100%); /* IE10+ */
    background: linear-gradient(top, #ff8c39 0%,#ffad69 48%,#ff7811 60%,#ff710b 100%); /* W3C */
    
    color: #fff;
    border-color: darken($orange, 20);
  }  
}

/*
 * Layout
 */
.center { width: 970px; margin: 0 auto; position: relative; @extend .clearfix; }

/*
 * Notifications
 */
.notification { background: #fff; color: #797979; font-size: .9166em; line-height: 2em; text-align: right; }

/*
 * Header Area
 */
.header {
  background: #3E5551 url(../images/home-background.png) no-repeat 50% 0; 
  color: #fff;
  margin-bottom: 35px;
  &:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}

.header.home {
  height: 520px;
}

/*
 * Header
 */
header[role=banner] {
  @extend .center;
  position: relative;
  hgroup {
    float: left;
    position: relative;
  }
  h1 {
    margin: 0;
    a {
      display: block;
      text-indent: -9999px;
      width: 232px;
      height: 100px;
      padding: 20px 0 10px 0;
      background: url(../images/chevah-logo.png) no-repeat 0 15px;
    }
  }
  h2 {
    color: #fff;
    font-size: 12px;
    width: 80px;
    position: absolute;
    right: 0;
    top: 10px;
  }
}

/*
 * Navigation
 */
nav[role=navigation] {
  position: absolute;
  top: 30px;
  right: 0;
  font-family: Titillium, sans-serif;
  text-align: right;
  
  ul {
    @extend .clearfix;
    margin: 0;
  }
  
  li {
    float: left;
    list-style: none;    
  }
  
  a {
    float: left;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;    
    &:hover,
    &:focus { 
    }
  }
  
  .nav {     
    line-height: 2em;
    margin-bottom: 1em;
    
    li {
      &:first-child a { padding-left: 0; }
      &:last-child a { padding-right: 0; }
    }
    
    a {
      border-bottom: 1px solid #fff;
      padding-bottom: 4px;
      &:hover,
      &:focus,
      &.active {        
        padding-bottom: 0;
        border-width: 5px;
      }
    }
  }
  
  p {
    line-height: 2em;
    display: inline;
    margin: 0;
  }
  
  .secondary {
    float: right;
    a {
      @extend .color_button;        
      margin-left: 7px;     
      font-size: .875em;            
    }
  }
}

/*
 * Subnav
 */
.subnav {
  float: left; 
  width: 155px;
  margin: 60px 50px 0 0;
  font-family: Titillium, sans-serif;
  line-height: 2.1428em;
  
  ul {
    margin: 0;
    li {
      list-style: none;
    }
  }
  
  a {
    text-decoration: none;
    display: block;
    color: #898989;
    border-bottom: 1px solid #ccc;
    padding: 0 15px;
    &:hover,
    &:focus,
    &.active {
      color: $orange;
    }
  }     
}

/*
 * Aside
 */
aside[role=complementary] {
  float: right;
  width: 185px;
  margin: 60px 0 0 50px;
  
  .quote {
    margin: 0 15px;
  }
  
}

/*
 * Box
 */
.box {
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em; 

  webkit-box-shadow: inset #DF3800 0px 0px 2em;
  -moz-box-shadow: inset #DF3800 0px 0px 2em;
  box-shadow: inset #DF3800 0px 0px 2em;             
  
  background: #FF9A35; 
  color: #fff;
  font-family: Titillium, sans-serif;
  
  padding: 4px 16px;
  margin-bottom: 20px;
  
  p {    
    border-top: 1px solid #fff;    
    margin: 0;
    padding: 8px 0;    
    &:first-child {
      border: 0;
    }
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  img {
    float: right;
    margin-left: 5px;
  }
  
}


/*
 * Main
 */
.main {
  @extend .center;
}

article[role=main] {
  zoom: 1;
  overflow: hidden;
  padding: 0 1px;
}

/*
 * Home Intro
 */
article[role=main].intro {
  @extend .center;
  color: #fff;
  font: 1.4285em/1.2em Titillium, sans-serif;    
  background: url(../images/home-intro.png) no-repeat 50% 100%; 
  padding-bottom: 45px;
  
  header {
    padding-top: 20px;
  }
  
  h1 {
    font-size: 1.9em;
    line-height: 1.1em;
    color: #fff;
  }
  .video {
    float: right;
    margin-left: 20px;
  }
  
  .search {
    font-size: 14px;
    bottom: 0;
  }
}

/* 
 * Download or Compare
 */
.download_compare {
  font-size: .7em;
  > * {
    display: inline-block;
    vertical-align: middle;
  }
  span {
    margin: 0 10px;
  }
  .button {    
    display: inline-block;
    padding: 0 .75em;
    line-height: 1.79em;
    text-decoration: none;
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em; 
  }
  
  .compare {
    background: #BDC1BC;
    color: #505D46;
    &:hover,
    &:focus {
      background: #fff;
    }
  }
  
  .download { 
    @extend .color_button;
    font-size: 1.7142em;
  }
}

/*
 * Home Title
 */
.home_title {
  float: left;
  width: 148px;
  text-transform: uppercase;
  
  h1 {
    color: #999999;
    font-size: 1.6666em;
    line-height: 1.2em;
  }
}


/*
 * Latest News
 */
.news {
  @extend .center;
  margin-bottom: 35px;
  font-size: .8571em;
  
  ul {
    @extend .clearfix;
    line-height: 1.5em;
    margin: 0;    
    overflow: hidden;
    padding-left: 1px; 
  }
  
  li {
    list-style: none;
    float: left;
    margin-left: -1px;
    width: 274px;   
  }
  
  a {
    display: block;
    padding: 5px 20px 0 105px;
    position: relative;    
    border-left: 1px solid #999;
    
    color: #333333;
    text-decoration: none;    
    background: #fff;
    
    time {
      position: absolute;
      left: 25px;
      top: 5px;
      width: 60px;
      
      font: 2.3333em/1.2em Titillium, sans-serif;
      color: #CCCCCC;
    }
    
    &:hover,
    &:focus {      
      position: relative;
      z-index: 100;
      border-color: $orange;
      background: $orange;
      color: #fff;      
      time {
        color: #fff;
      }
    }    
  }  
}

/*
 * Partners
 */
.partners {
  @extend .center;
  margin-bottom: 24px;
  font-size: .8571em;            
}

/*
 * Features
 */
.feature {
  @extend .clearfix;
  line-height: 1.5em;
  figure {
    float: left;
    margin-right: 20px;    
  }
  h2 {
    font-size: 1.6em;
    margin: 0;
    color: #000;
  }
}

.features {
  float: left;
  width: 494px;
  padding: 0 26px;
  border: solid #999;
  border-width: 0 1px;
  margin-right: 20px;  
  
  ol {
    @extend .clearfix;
    @extend .gray_gradient;
    
    margin: 30px 0 0 0;
    text-align: center;
    line-height: 1.2em;
    
    h2 {
      color: #000;
      font-size: 1.2em;
      line-height: 1.2em;
      margin: 0 0 5px 0;
    }
    
    p {
      margin: 0;
    }
    
    li {
      list-style: none;
      margin: 0;
      float: left;
      width: 33.33%;
      a {
        display: block;
        padding: 10px 10px 10px 10px;
        min-height: 70px;
        border-top: 10px solid #fff;
        text-decoration: none;
        color: darken(#999, 20);
        &.active {
          background: $orange;
          color: #fff;          
          border-color: $orange;
          * {
            color: #fff;
          }
        }
      }
    }
  }
}

.testimonials {
  @extend .clearfix;
  overflow: hidden;
  blockquote {
    position:relative;
  	padding:15px;
  	margin: 0 0 5px 0;
  	color:#fff;
  	background: $orange;
  	  	-webkit-border-radius:10px;
  	-moz-border-radius:10px;
  	border-radius:10px;
  	&:after {
      content:"";
      position:absolute;
      bottom:-30px; /* value = - border-top-width - border-bottom-width */
      left:20px; /* controls horizontal position */
      border-width: 0 20px 30px 0; /* vary these values to change the angle of the vertex */
      border-style:solid;
      border-color: transparent $orange ;
      /* reduce the damage in FF3.0 */
      display:block; 
      width:0;
  	}
  }
  p {
    margin-left: 50px;
  }
}

/*
 * Search
 */
.search {
  position: absolute;
  right: 0;
  bottom: -35px;
  font-size: 10px;
  
  fieldset {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: none;
  }
  
  input[type=submit] {
    margin-left: 5px;
  }
}

/*
 * Footer
 */
.footer {
  @extend .gray_gradient;  
  font-size: .8571em;
  line-height: 1.6em;
  margin-top: 30px;
  border-top: 1px solid #999;
    
  .footer_inner {
    @extend .center;
    .row {
      @extend .clearfix;
      > * {
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0;
      }
    }    
  }
  
  strong {
    display: block;
    font-family: Titillium, sans-serif;
    font-weight: normal;
    font-size: 1.166em;
  }
  
}

/* Sitemap */
.sitemap {
  float: left;
  width: 75%;
  
  ul {
    @extend .clearfix;
    margin-left: 0;
  }
  
  li {
    list-style: none;
  }
  
  a {
    color: #333333;
    text-decoration: none;
    &:hover,
    &:focus {
      color: $orange;
    }
  }    
  
  > ul > li { 
    float: left;
    width: 33%;
    
    ul {
      margin-top: 10px;
    }
  }
}

/*
 * Contact & Social Media
 */
.social {
  float: left;
  font-family: Titillium, sans-serif;
  font-size: 1.166em;
}

.terms {
  text-align: right;
  border-top: 1px solid darken(#ccc, 10);
}

/*
 * Address
 */
address.vcard {
  @extend .clearfix;
  overflow: hidden;
  padding-left: 30px;  

  font-style: normal;
  
  strong {
    margin: 20px 0 10px 0;
    &:first-child { 
      margin-top: 0;
    }
  }
  
}

/*
 * Mobile Devices
 */
@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

/*
 * Print CSS
 * Should remiain on the bottom of the file
 */ 
@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


